html, body, #page-container {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'Acme', sans-serif;
}


#pc-container {
    background-image: url("/images/PC.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}